

<div class="wrapper"></div>
<div class="container">

  <div class="profile">
    <h1 class="text-info"> Profil of <%= @user.first_name%> <%= @user.last_name%></h1>
    <h3 class="text-info"> Current offers of <%= @user.first_name%> : </h3>

    <ul>
      <% @user.offers.each do |offer| %>
      <li> <%=link_to offer.name, offer_path(offer)%></li>
      <% end %>
    </ul>


    <div class="container">
      <div class="row">
        <% @buy_review_received.each do |reviews| %>
        <% reviews.each do |review| %>
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="well">
            <div class="panel">
              <div class="panel-heading text-danger"><h1 class="panel-title">
                <%= review.content%></h1>
                <p> by <%= review.user.first_name %></p>
              </div>
            </div>
          </div>
        </div>


        <% end %>
        <% end %>
      </div>
    </div>



  </div>
</div>
</div>
